.root {
	-fx-background-color: linear-gradient(to right, gray, #e5e5e5 1%, white 70%, #e5e5e5 99%,
		#464646);
}
#tmp{
	-fx-background-color: red;
	-fx-color: red;
	-fx-background:green;
}
.logs{
	-fx-background-color: red;
	-fx-background:green;
	-fx-background:linear-gradient(to right, #2f2f2f,#313131 50%, #3a3a3a 70% , #2f2f2f );
}
.scroll-pane> .viewport{
	-fx-background-color: linear-gradient(to right, #2f2f2f,#3f3f3f 50%, #454545 70% , #2f2f2f );
	-fx-color:silver;
}
.scroll-pane1> .viewport{
	-fx-background-color: silver;
	-fx-color:black;
}